<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    </head>
    <body style="background-color:rgb(195, 247, 151)">
    <div class="d-flex flex-column justify-content-center align-items-center container vh-100">
        <div >
         <h1 class="text-center bg-success rounded mb-2 text-white">This website shows</h1>
        </div>
         <div class="list-group list-group-flush text-center">
            
                <div class="bg-primary text-white rounded mb-1">longitude and latitude of a place</div>
                <div class="bg-primary text-white rounded mb-1">Temperature of a place for Seven days</div>
                <div class="bg-primary text-white rounded mb-1">Search by city, country or place</div>
                <div class="bg-primary text-white rounded mb-1">country information like population, capital, languages, currency, etc.</div>
                <div class="bg-primary text-white rounded mb-1">picture of the country flag</div>
                <div class="bg-primary text-white rounded mb-1">picture of the coat of arms</div>
            
        </div> 
    </div>
    </body>
</head>
